body {
    background-color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.center {
    text-align: center;
}

footer p {
    justify-content: center;
}

.container {
    padding: 0px 50px;
}

nav a:hover {
    color: lightgray;
}